* {
    box-sizing: border-box;
    font-family: Roboto, Helvetica, sans-serif;
    transition: all 0.3s ease;
    margin: 0;
}

body {
    min-height: 100vh;
    margin: 0;
    background:
        linear-gradient(to right, #6c30b1f6 5%, #6c30b1c0 45%, #6c30b177 60%, transparent 90%),
        url("../img/background.jpg") center/cover no-repeat fixed;
    background-blend-mode: normal;
}

.bold {
    font-weight: 400;
}

/* Navbar */
#nav-bar {
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

#logo a {
    display: flex;
    align-items: center;
    font-size: 2rem;
    text-decoration: none;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

#navigation-links a {
    margin: 0 2.5rem;
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
}

#navigation-links a:hover {
    color: #cacaca;
}

#search-bar {
    display: flex;
    justify-content: right;
    height: 46px;
    width: 500px;
    background: #ffffff;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 
    inset 0 4px 12px #00000026,
    inset 0 2px 6px #0000001a;
    transition: all 0.3s ease;
}

#search-input {
    border: none;
    width: 100%;
    background-color: transparent;
    margin-left: 15px;
}

#search-bar input {
    color: #353535;
    font-size: 0.7rem;
    font-weight: 400;
    text-transform: uppercase;
    font-family: inherit, sans-serif;
    letter-spacing: 1.1px;
    caret-color: #353535;
}

#search-input:focus {
    outline: none;
}

#search-btn,
#clear-btn {
    border: none;
    background-color: #5b239bd3;
    color: white;
    padding: 0 20px;
    cursor: pointer;
}

#search-btn:hover,
#clear-btn:hover {
    background-color: #8d52d1ec;
}

/* Main Content */
#content-container {
    max-width: 1600px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 5% 60% 30%;
    margin: 3rem auto;
}

#decoration {
    width: 2px;
    height: 600px;
    background: white;
    margin-bottom: 3rem;
    border: 1px wsolid white;
}

#social-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1.5rem;
    height: 100%;
    position: sticky;
    top: 2rem;
}

.fa-brands {
    color: white;
    font-size: 1.5rem;
}

#intro-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 3rem 1rem 5rem 1rem;
    color: white;
}

#hero-text {
    font-size: 5rem;
    font-weight: bolder;
    text-align: left;
    text-transform: uppercase;
    margin: 4rem 0;
}

#hero-description {
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 200;
    margin: 3rem 0;
    text-align: left;
    width: 55%;
}

#book-btn {
    background: #ffffff54;
    color: white;
    border: none;
    width: fit-content;
    padding: 16px 32px;
    margin: 4rem 0;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 7px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

#book-btn:hover {
    background: #ffffff26;
    backdrop-filter: blur(10px);
}

/* Recommendation Section */
#recommendation-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.location-cards {
    height: 45%;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 20px #5a1b8d;
    color: #353535;
}

.location-cards:hover {
    transform: translateY(-2px) scale(1.01);
    box-shadow: 0 40px 80px rgba(0, 0, 0, 0.35);
    z-index: 10;
}

.location-pic {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    display: block;
}

.location-h2 {
    padding-left: 20px;
    padding-top: 10px;
    font-weight: 300;
    font-style: italic;
}

.location-p {
    padding: 10px 25px 30px 20px;
    font-weight: 200;
    line-height: 1.6rem;
}

.hidden {
    display: none;
}